@media (max-width: 600px)
{
    #navbar {
        position: relative;
    }
    
    #navbar-container {
        width: 90%;
    }
    
    .logo {
        font-size: 1rem;
    }

    a {
        font-size: 15px;
    }
}

/* 
#navbar-container {
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 50%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}


#clients-container {
    grid-template-columns: repeat(2, 1fr);
}

.clients {
    width: 100%;
}


#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}


#product-container {
     flex-direction: column;
}

.items {
    width: 90px;
} */