@media (max-width: 600px)
{
    #navbar {
        position: relative;
    }
    
    #navbar-container {
        width: 90%;
    }
    
    .logo {
        font-size: 1rem;
    }

    a {
        font-size: 15px;
    }
    #clients-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    #clients {
        width: 100%;
        background: #eee;
        color: #111;
        padding: 23px;
    }
    #showcase {
        background: url(/img/showcase.jpg) no-repeat center center/cover;
}
